@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-prev,
.swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 34px;
  height: 34px;
}

.swiper-button-prev{
  border-radius: 0 17px 17px 0;
  left: 0;
}

.swiper-button-next{
  border-radius: 17px 0 0 17px;
  right: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
  color: #0f172a;
}

.swiper-pagination span {
  background: rgba(255, 255, 255, 0.3);
  transition: width 0.3s;
  opacity: 1;
}




.swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  border-radius: 4px;
  background: white !important;

}

.container {
  max-width: 1320px;
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1536px !important;
  }
}


@layer utilities{
  .animate-moveUpDown{
    animation: moveUpDown 2s ease-in-out infinite alternate-reverse both;
  }
}

@keyframes moveUpDown{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}